
li{
    list-style: none;
  }
  
  .book-list{
    display: grid;
    grid-row-gap: 35px;
    row-gap: 15px;
    grid-column-gap: 130px;
    grid-column-gap: 67px;
    column-gap: 67px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 10px;
}
  
  ul{
    margin: 0;
    padding: 0;
  }