

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: auto 0;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #383e59;
    color: white;
    font-family: "Gideon Roman", cursive; 

}

.space-between{
    justify-content: space-between;
}

.user-add{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
