.nav > * {
  margin-inline-end: 20px;
  color: white;


  &:hover {
    font-size: large;
    transition: 0.3s;
   
  }
}

header {
  background-color: #383E59;
  inset: 0;
  color: white;
  padding: 20px 49px;
  display: grid;
  grid-template-columns: $layoutPadding 1fr $layoutPadding;

  > * {
    grid-column: 2;
  }
  h1 {
    color: white;
    font-size: 28px;
    font-family: "Gideon Roman", cursive; }
  h2{
    font-size: 20px;
  }

  // a.active{
  //   text-decoration: underline;
  // }
  // a.h1{
  //   text-decoration: none;
  // }
}

.user{
  display: inline;
}
